<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./ram-module.html">
<link rel="import" href="./ram-provider.html">

<dom-module id="pc-component">
  <template>    
    <style>
      :host {
        display: block;
      }
      .container {
        width: 100%;
        /*border:1px solid red;*/
        padding: 5px;
      }
      .buttons {
        /*border:1px solid blue;*/
        width: 20%;
        display: inline-block;
        padding: 5px;
      }
      .main {
        border:1px solid black;
        width: 75%;
        display: inline-block;
        padding: 5px;
      }
      .buttons button {
        background: transparent;
        padding: 5px;
        font-weight: bold;
        width: 100%;
        margin: 5px 0px;
      }
      .buttons #start {
        border:1px solid lightskyblue;
        color: lightskyblue;
      }
      .buttons #restart {
        border: 1px solid lightcoral;
        color:lightcoral;
      }
    </style>

    <div class="container">
      
      <ram-provider ram-size='{{ram}}'></ram-provider>

      <div class="buttons">
        <button id='start' on-click='start'>Start</button>
        <button id='restart' on-click='restart'>Restart</button>
      </div>
      <div class="main">
        Main
        <ram-module velocity="[[velocityRam]]" size='[[ram]]'></ram-module>
      </div>
    </div>

    <!--template is="dom-if" if="{{isLoadRam}}">
      <ram-module></ram-module>
      {{isLoadRam}}
    </template-->

  </template>

  <script>
    /**
     * `pc-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    
    var arrayTimeOut = [];

    class PcComponent extends Polymer.Element {
      
      static get is() { return 'pc-component'; }
      
      static get properties() {
        return {
          /*msg: {
            //observer: '_load',
            type: String,
            value: ''
          },*/
          architecture: {
            type: Number,
            value: 64,
            reflectToAttribute: true
          },
          power: {
            type: Boolean,
            value: false
          },
          /*isLoadRam: {
            observer: '_isLoad',
            type: Boolean,
            value: false,
            //notify: true
          },*/
          velocityRam: {
            type: Number,
            value: 800,
            notify: true
          },
          ram: {
            type: Number
          }
        };
      }

      start() {
        console.log(`Hola`)
        this.power = true;
        this.velocityRam = 1000;
      }

      restart() {

      }

    }
    window.customElements.define(PcComponent.is, PcComponent);
  </script>
</dom-module>
