<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ram-provider">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <button on-click="hacerCollapsible">[[msg]]</button>
    
    <template is="dom-if" if="[[isCollapsible]]">
      <template is="dom-repeat" items="[[rams]]">
        <p on-click="cuandoDaClick">{{item.ramMemory}} {{item.speed}} {{item.architecture}}</p>
      </template>
    </template>
    
    <template is="dom-if" if="[[ramSize]]">
      <p>Haz seleccionado una memoria con {{ramSize}} GB</p> <span on-click='reset'>X</span>
    </template>

  </template>

  <script>
    /**
     * `ram-provider`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RamProvider extends Polymer.Element {
      static get is() { return 'ram-provider'; }
      static get properties() {
        return {
          rams: {
            type: Array,
            value: []
          },
          ramSize: {
            type: Number,
            notify: true
          },
          isCollapsible: {
            type: Boolean,
            value: false,
          },
          msg: {
            type: String,
            value: 'Mostrar lista de RAMs :)'
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.getAPIInformation();
      }

      cuandoDaClick(e) {
        console.log(e.model.item);
        this.ramSize = parseInt(e.model.item.ramMemory.replace('GB', ''));
        this.hacerCollapsible();
      }

      hacerCollapsible() {
        this.isCollapsible = !this.isCollapsible;
      }

      static get observers() {
        return ['_viewChanges(isCollapsible, ramSize)'];
      }

      _viewChanges(isCollapsible, ramSize) {
        if (isCollapsible) {
          this.msg = 'Ocultar lista de RAMs';
        } else if (ramSize) {
          this.msg = "Volver a seleccionar";
          //this.isCollapsible = false;
          //this.ramSize = undefined;
        } else {
          this.msg = 'Mostrar lista de RAMs';
        }

      }

      reset() {
        this.ramSize = undefined;
      }

      getAPIInformation() {
        let request = new XMLHttpRequest();
        let url = "https://demo6292426.mockable.io/ramMemory";
        request.open('GET', url);
        request.send();
        request.onreadystatechange = () => {
          if (request.readyState === 4) {
            console.log(JSON.parse(request.response));
            this.rams = JSON.parse(request.response).data;
          }
        }

      }
    }

    window.customElements.define(RamProvider.is, RamProvider);
  </script>
</dom-module>
