<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ram-module">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <p velocity-ram="{{velocity}}">
        Velocidad: {{velocity}}, {{size}}
      </p>
  </template>

  <script>
    /**
     * `ram-module`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RamModule extends Polymer.Element {
      
      static get is() { return 'ram-module'; }
      
      static get properties() {
        return {
          size: {
            type: Number,
            value: 4
          },
          provider: {
            type: String,
            value: 'GFT México'
          },
          velocity: {
            observer: '_checkVelocity',
            type: Number,
            value: 1200
          }/*,
          isOkRam: {
            //observer: '_isLoadRam',
            type: Boolean,
            value: false,
            notify: true
          },
          msg: {
            type: String,
            value: ''
          }*/
        };
      }

      _checkVelocity(newValue, oldValue) {
        console.log(`Target => ${newValue} , ${oldValue}`);
      }


    }

    window.customElements.define(RamModule.is, RamModule);

  </script>
</dom-module>
